
*
{
  box-sizing:border-box;

}
body
{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1
{
  font-size: 40px;
  font-weight: 900;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  background-color: aqua;
  width: fit-content;
  margin: 20px auto;
}

div>img
{
  max-height:200px;
  width:32.5%; 
  object-fit:cover;
  object-position:center;
   padding:0;
 margin:0;
 cursor: pointer;
   
}

.row
{
 
 display: flex;
 flex-wrap: wrap; 
 justify-content: center;
 align-items:center;

}

@media(max-width:800px) {
  
h1{
background-color: rgb(117, 125, 131);
color: azure;
}

   div>img{

width:50%

  }

}

@media(max-width:600px)
{
  
    div>img{  
  
  width:100%;
  
    }

}
     



/*
.container
{
  display: flex;
  background-color: aqua;
  flex-direction: row;
  /* align-items: center; */
  /*justify-content: center;
  flex-wrap: wrap;
  width:70%;
  margin:0 auto;
  /* margin:0 auto; */

/*}
.container>div
{
  height: 100px;
  width: 100px;
  background-color: rgb(217, 231, 243);
  line-height: 40px;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  text-align: center;
   flex-basis: 0,0,300;
  /* flex-flow: column-reverse; */
 /* margin: 10px;
  flex:30%

}
.itemright
{
  flex:10%;
}
.itemleft
{
  flex:10%;
}

@media(max-width:800px) {
  
    .itemright,.itemleft
{
  flex:100%;
}
  
  
}*/

/* @media(max-width:800px) {
  .container
  {
    flex-direction: column;
  }
    .itemright,.itemleft
{
  flex:100%;
}
  
  
} */
